.cart-container {
    position: relative;
    display: inline-block;
  }
  
  .cart-badge {
    position: absolute;
    top: -5px;
    right: -1px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
  }